@media screen and (max-width: 600px){
    p, h1, h2, a, .name {
        text-align: center !important;
    }
}

body {
    padding: 0px !important;
    margin: 0px !important;
    background-color: #555A6E !important;
}

html {
    margin: 0px !important;
    padding: 0px !important;
}

a {
    color: black;
}

.nav a {
    color: #E0E0E0;
    font-size: 18px;
}

h2 {
    margin-bottom: 0px !important;
}

p {
    font-size: 18px;
}

br {
    height: 10px !important;
}

div {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.serif {
    font-family: 'Lora', serif;
}

.top {
    height: 100vh;
}

.title {
    margin-top: 25vh;
}

.title h1 {
    color: #E0E0E0;
    font-size: 13vh !important;
    border: solid #E0E0E0 5px;
    font-weight: 200;
    font-family: 'Lora', serif;
}

.smaller {
    color: #E0E0E0;
    border: solid #E0E0E0 5px;
    font-weight: 200;
    font-family: 'Lora', serif;
}

.about {
    background-color: #E0E0E0;
    padding-bottom: 75px !important;
    height: auto;
}

.footer {
    background-color: #C4A789;
    padding-bottom: 75px !important;
}

.footer a:hover {
    color: #555A6E;
    transition-duration: .2s;
}

.nav {
    height: 50px;
    padding-top: 10px;
}

.text img {
    padding: 0px !important;
    margin-top: 21px;
}

.text a {
    border: solid 3px #555A6E;
    font-size: 18px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.text a:hover {
    background-color: #555A6E;
    color: white;
    transition-duration: .2s;
    border: solid 3px #555A6E;
}

.sidenav {
    background-color: #555A6E;
}

.sidenav li {
    padding-top: 18px;
}

.sidenav li a {
    color: white;
    font-size: 16px;
}

